pipeline/new_pipeline_in_sqlserver.json
{
	"name": "new_pipeline_in_sqlserver",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select* from information_schema.tables where table_type = 'base table'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_Sqlserver_InputTable",
						"type": "DatasetReference",
						"parameters": {
							"DSP_Input_Schema": {
								"value": "@pipeline().parameters.P_InputSchema",
								"type": "Expression"
							},
							"DSP_Input_Table": {
								"value": "@pipeline().parameters.P_InputTableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_Sqlserver_InputTable",
									"type": "DatasetReference",
									"parameters": {
										"DSP_Input_Schema": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										},
										"DSP_Input_Table": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_datalakestorage",
									"type": "DatasetReference",
									"parameters": {
										"folderpath": "@item().TABLE_NAME",
										"filename": "@{item().TABLE_NAME}.csv"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"P_InputSchema": {
				"type": "string"
			},
			"P_InputTableName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "on_prem_sql_server"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-16T21:26:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}