pipeline/p_sqldb_storageaccount.json
{
	"name": "p_sqldb_storageaccount",
	"properties": {
		"description": "copying data from SQL dB to storage account",
		"activities": [
			{
				"name": "Lookup1",
				"description": "",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select* from information_schema.tables where table_type = 'base table'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"sourceschema": {
								"value": "@pipeline().parameters.InputSchema",
								"type": "Expression"
							},
							"sourcetable": {
								"value": "@pipeline().parameters.InputTableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"batchCount": 3,
					"activities": [
						{
							"name": "employee_filecopy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sqldb",
									"type": "DatasetReference",
									"parameters": {
										"sourceschema": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										},
										"sourcetable": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_datalakestorage",
									"type": "DatasetReference",
									"parameters": {
										"folderpath": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"filename": {
											"value": "@{item().TABLE_NAME}.csv",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"InputSchema": {
				"type": "string"
			},
			"InputTableName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "part1"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-11T00:23:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}