pipeline/renaming_file.json
{
	"name": "renaming_file",
	"properties": {
		"activities": [
			{
				"name": "Get_FileName",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_datalakestorage",
						"type": "DatasetReference",
						"parameters": {
							"folderpath": {
								"value": "@pipeline().parameters.P_folderpath",
								"type": "Expression"
							},
							"filename": {
								"value": "@pipeline().parameters.P_foldername",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_FileName').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GetFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_datalakestorage",
									"type": "DatasetReference",
									"parameters": {
										"folderpath": {
											"value": "@item().name",
											"type": "Expression"
										},
										"filename": {
											"value": "@activity('GetFile').output.childItems[0].name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_datalakestorage",
									"type": "DatasetReference",
									"parameters": {
										"folderpath": "sai",
										"filename": {
											"value": "@concat(replace(activity('GetFile').output.childItems[0].name,'.csv','_'),formatDateTime(utcNow(),'yyyymmdd'),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "GetFile",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_datalakestorage",
									"type": "DatasetReference",
									"parameters": {
										"folderpath": "@item().name",
										"filename": "*"
									}
								},
								"fieldList": [
									"childItems",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"P_folderpath": {
				"type": "string"
			},
			"P_foldername": {
				"type": "string",
				"defaultValue": "*"
			}
		},
		"folder": {
			"name": "on_prem_sql_server"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-16T21:26:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}